
@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');
@import "tailwindcss";

html,
body {
  margin: 0;
  padding: 0;
  min-height: 100%;
}

html,
body {
  font-family: 'Tajawal', system-ui, sans-serif;
}


html {
  -webkit-text-size-adjust: 100%;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}